<mat-card class="card">
  <mat-card-title>Alterar Produto</mat-card-title>
  <form class="form">
    <mat-form-field>
      <input
        matInput
        name="name"
        [(ngModel)]="product.name"
        placeholder="Nome"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="price"
        [(ngModel)]="product.price"
        placeholder="Preço (R$)"
      />
    </mat-form-field>
    <button mat-raised-button (click)="updateProduct()" color="primary">
      Alterar
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </form>
</mat-card>

<!--/*banana dentro da caixa*/
[(ngModel)]
se colocar [(ngModel)]=products.name o products ta se referindo a lista -->
