.sidenav {
    background-color: #6A5ACD;
    width: 200px;
}

.sidenav span {
    color: #fff;
    align-items: center;
}

.sidenav i {
    padding-right: 10px;
    color: #fff;
    margin-top: 10px;

}

.content {
    padding: 16px;
    background-color: #fff;
}

.sidenav{
    padding-top: 20px;
}


